<style>
  .bibframe {
    background-color: rgb(148, 200, 237);
    padding: .5em;
  }

</style>
<div class="bibframe">
 <div class="row">
  <section class="five column">
    <h2>BIBFRAME - Library of Congress's MARC21 Replacement</h2>
    <p>
      <a href="http://bibframe.org">BIBFRAME</a> - short of Bibliographic Framework Initiative - is the Library of Congress 
      efforts to replace MARC21 with a linked-data vocabulary.
    </p>
  </section>
 </div>
 <div class="row">
   <section class="six columns">
    <h3>What is Linked Data?</h3>
   </section>
   <section class="six columns">
    <h3>What is a triple?</h3>
    <h4>Subjects</h4>
    <h4 class="u-pull-right">Predicates</h4>

   </section>

 </div>
</div>
