<style>
  .bibframe {
    background-color: rgb(195, 224, 178);
    padding: .5em;
  }

  
</style>
<div class="bibframe">
 <div class="row">
  <section class="five column">
    <h2>BIBFRAME - Library of Congress's MARC21 Replacement</h2>
    <p>
      <a href="http://bibframe.org">BIBFRAME</a> - short of Bibliographic Framework Initiative - is the Library of Congress 
      efforts to replace MARC21 with a linked-data vocabulary.
    </p>
  </section>
 </div>
 <div class="row">
   <section class="six columns">
    <h3>What is Linked Data?</h3>
    <p>Linked Data is about representing information in statements called RDF Triples i.e. subject-predicate-object. 
     Libraries standards are shifting to Linked-Data vocabularies like <a href="http://bibframe.org/">BIBFRAME</a>, 
     <a href="https://github.com/mixterj/VRA-RDF-Project">RDF-VRA</a>, 
     <a href="http://www.loc.gov/standards/mods/modsrdf/">MODS RDF</a>, and 
     <a href="http://schema.org">Schema.org.</a>.</p>
    <p>With a modern linked-data based vocabularies, a library system should be able to use
    any vocabulary that is needed to solve a problem or issue. We should be able to "mix-and-match"
    the elements we need to properly describe our resources for ours and or patron's needs.
   </section>
   <section class="six columns">
    <h3>What is a triple?</h3>
    <p>A triple is a simple statement that links a subject through a relationship called a predicate, to 
     a third object. Any of these three elements - subject, predicate, or object - can be an IRL (International
     Resource Identifier) most commonly an uniform research locator or URL. This flexibility of allowing an IRI
     to have any of these three roles allows common data to be shared with others (the "linking" of linked 
     data) while also offering institutions the opportunity to customize and capture information and data important
     to them.
     </p>
   </section>
</div>
<div class="row">
  <section class="four columns">
    <h4>Subjects</h4>
    <p>A subject is either an IRI or a Blank Node. A Blank Node is just a unique identifier
       local to a particular graph and is not universal ID</p>
  </section>
  <section class="eight columns">
    <pre>
    <code>
http://id.loc.gov/authorities/names/n79032879 
https://en.wikipedia.org/wiki/Into_the_Wild_%28book%29
    </code>
    </pre>
 </section>
</div>
<div class="row">
 <section class="eight columns">
    <pre>
    <code>
http://www.w3.org/1999/02/22-rdf-syntax-ns#type
https://schema.org/MusicGroup
http://knowledgelink.io/About
    </code>
    </pre>
  </section>
  <section class="four columns">
    <h4>Predicates</h4>
    <p>Predicates must be an IRI; blank nodes or literals values are not
    acceptable.</p>
  </section>
  </div>
<div class="row">
  <section class="four columns">
    <h4>Objects</h4>
    <p>An object resource can be
      IRI, Blank Node, or Literal value</p>
  </section>
  <section class="eight columns">
    <pre>
    <code>
http://schema.org/Person
_:N813d1368392f49539cfdb3a77c86c85f
"Mark Twain"
    </code>
    </pre>
  </section>

 </div>
</div>
