<style>
  .cpp {
    background-color: rgb(195, 224, 178);
    padding: .5em;
  }
</style>
<div class="cpp">
 <div class="row">
  <section class="seven column">
    <h2>Catalog Pull Platform</h2>
    <p>The Catalog Pull Platform is the research effort by 
     Jeremy Nelson to develop a flexible, lightly coupled, bibliographic and 
     semantic web suite of technology for libraries, museums, and other cultural
     heritage organizations to develop small and efficient technology solutions
     for bibliographic and digital asset management.  
  </section>
 </div>
 <div class="row">
   <section class="ten column">
    <h3 class="width: 50%">Push vs. Pull</h3>
    <p>
     Inspired by both the Lean Startup and Toyota's Lean Manufacturing, the Catalog Pull Platform 
     moves away from trying to anticipate the needs and then "pushing" services and technology to 
    patrons and staff, but instead identifies and responds to needs and demands for library technology 
    by "pulling" directly from various constituencies served by libraries and cultural heritage organizations. 
    </p>
   </section>
 </div>
 <div class="row">
   <section class="four columns">
     <h3>People</h3>
     <img src="{{ url_for("static", filename="images/people.png") }}" 
          class="u-pull-right"
          alt="People - primary source of pull">
     <p>
      People are the first and most important source of library systems 
      demand in the Catalog Pull Platform. By listening to patrons, 
      staff, and other vested individuals build lightweight utilities
      to meet that need.
     </p>
   </section>
   <section class="four columns">
     <h3>Institutions</h3>
     <img src="{{ url_for("static", filename="images/institutions.png") }}" 
          class="u-pull-left"
          alt="Institutions - Responsiblity and Accountibility">
     <p>Institutions are the second source of pull for the Catalog Pull Platform 
      as both internal and external groups hold libraries accountable for 
      implicit and explicit outcomes.</p>        
   </section>
   <section class="four columns">
     <h3>Algorithms</h3>
     <img src="{{ url_for("static", filename="images/algorithms.png") }}" 
          class="u-pull-left"
          alt="Algorithms - Connecting Networked Library Systems">
     <p>To function as first-class citizens in the networked information 
     environment, the library's primary website and catalog must be easily found
     Google, Facebook, and other third parties.</p> 
     <p>By publishing their institution's
     organizational knowledge and collections as Linked Data and providing 
     open APIs for use by other people and institutions, library systems function
     as critical asset.</p>    
   </section>

 </div>
</div>
