<style>
  .cpp {
    background-color: rgb(195, 224, 178);
    padding: .5em;
  }
</style>
<div class="cpp">
 <div class="row">
  <section class="seven column">
    <h2>Catalog Pull Platform</h2>
    <p>The Catalog Pull Platform is the research effort by 
     Jeremy Nelson to develop a flexible, lightly coupled, bibliographic and 
     semantic web suite of technology for libraries, museums, and other cultural
     heritage organizations to develop small and efficient technology solutions
     for bibliographic and digital asset management.  
  </section>
 </div>
 <div class="row">
   <section class="ten column">
    <h3 class="width: 50%">Pull vs. Push</h3>
   </section>
 </div>
 <div class="row">
   <section class="four columns">
     <h3>People</h3>
   </section>
   <section class="four columns">
     <h3>Institutions</h3>
   </section>
   <section class="four columns">
     <h3>Algorithms</h3>
   </section>

 </div>
</div>
