<style>
  .intro {
    background-color: rgb(170, 105, 173); 
    color: rgb(255, 255, 255);

    padding: .5em;
  }
</style>
<div class="row intro">
  <section class="seven column">
    <h2>Introduction</h2>
    <p>How can we improve our catalogs? The traditional ILS (integrated library systems) is expensive, 
     complicated, and our patrons don't care as much about the technology only about finding
     and retrieving information and resources from their local library. The library's ILS now being marketed 
     as "library services platform" (<a href="{{ url_for('abstract') }}#ref1">Breeding 2012</a>), touches most 
     areas of the library's operations, collections, and public services. The functionality needed to support 
     acquisition and circulation work-flows - not mention the increasingly complex electronic resource 
     management for journals and e-books - traditionally requires these large enterprise software systems 
     to include all this functionality into large monolithic "black-boxes".
    </p>
    <p>We can only expect that the recent announcement that Proquest is acquiring Ex Libris will continue
    the pattern of library technology consolidation into larger corporate entities that consume larger and
    larger portions of a library's budgets.</p>
  </section>
</div>
<div class="row intro">
 <section class="six columns">
 <a href="https://scholar.google.com/" target="_new">
   <img src="{{ url_for('static', filename="images/goog-scholar.png") }}"></img>
 </a>
 </section>
 <section class="six columns">
   <h2>How often does our Patron's Research starts Here?</h2>
   <h2>Real, question, how often do YOU start Here?</h2>
 </section>
</div>
<div class="row">
 <section class="seven columns">
   <h3>Instead of library systems that are&hellip;</h3>
   <h3>
    <ul>
      <li>Expensive &amp; opaque</li> 
      <li>Top-down</li>
      <li>Surface customizations</li>
    </ul>
   </h3>
 </section>
 <section class="five columns">
  <h3>Can an alternative exist?</h3>
   <h1>Yes!</h2>
 </section>
</div>
<div class="row">
 <section class="four columns">&nbsp;</section>
 <section class="seven columns">
  <h2>But how?</h2>
 </section>
</div>
