<!DOCTYPE html>
<html lang="en">
<head>
  {% set author="Jeremy Nelson" %}
  {% set title="CALCON 2015: Introducing BIBCAT - a BIBFRAME Catalog"  %}
  {% set description="Presentation by Jeremy Nelson for CALCON 2015 in Loveland, CO on Library Linked Data with BIBCAT" %}
  {% set pub_date="2015-10-22" %}
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="author" content="{{ author }}">
  <meta name="citation_author" content="{{ author }}">
  <meta name="citation_title" content="{{ title }}">
  <meta name="citation_publication_date" content="{{ pub_date }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script async defer src="//hypothes.is/embed.js"></script> 
  <!-- FONT  -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS  -->

  <link rel="stylesheet" href="{{ url_for('static', filename="css/normalize.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename="css/skeleton.css") }}">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename="images/favicon.png") }}">
  <script src="{{ url_for('static', filename="js/ga.js") }}"></script>
</head>
<body>
  {% block main %}
  <!-- Primary Page Layout -->
  <div class="container">
    <div class="row">
      <section class="eleven column" style="margin-top: 5%">
        <h5>http://intro2libsys.info/calcon-2015</h5>
      </section>
    </div>
    <div class="row">
      <div class="one-half column" style="margin-top: 10%">
        <h1>CALCON 2015</h1>
        <h2>Introducing BIBCAT - a BIBFRAME Catalog</h2>
        <h4>Jeremy Nelson<br>Metadata and Systems Librarian<br>Colorado College</h4>
        <p>Presentation's <a href="{{ url_for('abstract') }}">abstract</a>, source code 
        (including content) is licensed under the <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a>
        and is available on <a href="https://github.com/jermnelson/calcon-2015">github</a> and built 
        using <a href="http://flask.pocoo.org/">Flask</a> and  
        <a href="http://www.getskeleton.com">Skeleton</a>.</p>
      </div>
      <section class="one-half column" style="margin-top: 5%">
        <img src="{{ url_for('static', filename='images/calcon_logo-01.jpg') }}"> 
      </section>
    </div>
    {% include 'pages/introduction.html' %}
    <br>
    {% include 'pages/bibframe.html' %}
    <br>
    {% include 'pages/cpp.html' %}
    <br>
    {% include 'pages/bibcat.html' %}
    <br>
    {% include 'pages/cc-tiger-website.html' %}
    <br>
  </div>
  {% endblock %}
<!-- End Document  -->
  </body>
</html>
